//Rowdies font
@import url('https://fonts.googleapis.com/css2?family=Rowdies:wght@300;400;700&display=swap');

//Montserrat
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap');

$langing_text_font : Rowdies;
$langing_text_size : 96px;
$langing_text_color : rgba(254, 59, 31, 1);
